= form_for @document, html: { class: "form-horizontal" } do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :title, class: "control-label"
    .controls
      = f.text_field :title, placeholder: "Untitled"
  .control-group
    = f.label :requester, class: "control-label"
    .controls
      - if @document.new_record?
        .input-prepend
          %span.add-on
            %i.icon-envelope
          = f.text_field :requester, placeholder: "email address"
      - else
        %span.uneditable-input.input= @document.requester
  - if @document.new_record?
    .control-group
      .controls
        = f.submit class: "btn"
  - else
    .control-group
      = f.label :body, class: "control-label"
      .controls
        = f.text_area :body, id: 'redactor'
